In [6]:
%matplotlib inline

from pathlib import Path

import numpy as np
import pandas as pd
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
import matplotlib.pylab as plt
from dmba import classificationSummary
from sklearn.model_selection import train_test_split

In [ ]:
# 12.1

In [11]:
bank = pd.read_csv("UniversalBank.csv")

In [12]:
bank = bank.drop(columns=['ZIP Code'])
bank = pd.get_dummies(bank, columns = ['Education','Family'])
train_df, valid_df = train_test_split(bank, test_size=0.4, random_state=1)
train_df.head()

,ID,Age,Experience,Income,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Education_1,Education_2,Education_3,Family_1,Family_2,Family_3,Family_4
4522,4523,31,5,29,0.3,0,0,0,0,0,0,1,0,0,1,0,0,0
2851,2852,61,36,81,1.8,0,0,0,0,1,0,0,1,0,0,0,1,0
2313,2314,58,32,54,0.3,0,0,0,0,1,1,0,1,0,0,0,1,0
982,983,58,33,52,0.5,0,0,0,0,0,1,0,1,0,0,0,1,0
1164,1165,41,17,94,3.8,327,1,1,1,1,0,0,1,0,0,0,1,0

In [13]:
model = LinearDiscriminantAnalysis()
model.fit(train_df.drop(columns=['Personal Loan']), train_df['Personal Loan'])

LinearDiscriminantAnalysis()

In [20]:
for (i,j) in zip(train_df.columns, range(0,17)):
    globals()['c_{}'.format(i)] = model.coef_[0, j]

In [21]:
print('Coefficients', model.coef_)
print('Intercept', model.intercept_)

Coefficients [[-4.57532715e-05 -1.56166122e-01  1.58611839e-01  5.60501530e-02
   3.65097233e-01  1.49730065e-03 -1.31159420e+00  6.38540797e+00
  -5.19846422e-01 -7.46496467e-01 -1.83925650e+00  9.56976805e-01
   1.15536939e+00 -7.11028503e-01 -6.50458804e-01  8.68701654e-01
   7.10963964e-01]]
Intercept [-5.9614001]

In [24]:
bank0 = bank[bank['Personal Loan']==0]
bank0.describe()

,ID,Age,Experience,Income,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Education_1,Education_2,Education_3,Family_1,Family_2,Family_3,Family_4
count,4520.000000,4520.000000,4520.000000,4520.000000,4520.000000,4520.000000,4520.0,4520.000000,4520.000000,4520.000000,4520.000000,4520.000000,4520.000000,4520.000000,4520.000000,4520.000000,4520.000000,4520.000000
mean,2512.165487,45.367257,20.132301,66.237389,1.729009,51.789381,0.0,0.102212,0.035841,0.595796,0.293584,0.443142,0.270133,0.286726,0.301991,0.263274,0.194027,0.240708
std,1448.299331,11.450427,11.456672,40.578534,1.567647,92.038931,0.0,0.302961,0.185913,0.490792,0.455454,0.496812,0.444077,0.452282,0.459172,0.440459,0.395493,0.427561
min,1.000000,23.000000,-3.000000,8.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1259.750000,35.000000,10.000000,35.000000,0.600000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2518.500000,45.000000,20.000000,59.000000,1.400000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3768.250000,55.000000,30.000000,84.000000,2.300000,98.000000,0.0,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,5000.000000,67.000000,43.000000,224.000000,8.800000,635.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
import sidetable as stb
for i in bank0.columns:
    print(bank1.stb.freq([i]))
    print()

        ID  count   percent  cumulative_count  cumulative_percent
0     5000      1  0.022124                 1            0.022124
1     4999      1  0.022124                 2            0.044248
2     4998      1  0.022124                 3            0.066372
3     4997      1  0.022124                 4            0.088496
4     4996      1  0.022124                 5            0.110619
...    ...    ...       ...               ...                 ...
4515     5      1  0.022124              4516           99.911504
4516     4      1  0.022124              4517           99.933628
4517     3      1  0.022124              4518           99.955752
4518     2      1  0.022124              4519           99.977876
4519     1      1  0.022124              4520          100.000000

[4520 rows x 5 columns]

    Age  count   percent  cumulative_count  cumulative_percent
0    35    135  2.986726               135            2.986726
1    43    134  2.964602               269            5.951327
2    58    133  2.942478               402            8.893805
3    52    130  2.876106               532           11.769912
4    54    128  2.831858               660           14.601770
5    41    128  2.831858               788           17.433628
6    39    127  2.809735               915           20.243363
7    50    125  2.765487              1040           23.008850
8    59    123  2.721239              1163           25.730088
9    56    121  2.676991              1284           28.407080
10   57    120  2.654867              1404           31.061947
11   51    119  2.632743              1523           33.694690
12   30    119  2.632743              1642           36.327434
13   31    118  2.610619              1760           38.938053
14   60    117  2.588496              1877           41.526549
15   40    117  2.588496              1994           44.115044
16   55    116  2.566372              2110           46.681416
17   34    116  2.566372              2226           49.247788
18   62    114  2.522124              2340           51.769912
19   46    114  2.522124              2454           54.292035
20   45    114  2.522124              2568           56.814159
21   42    112  2.477876              2680           59.292035
22   61    110  2.433628              2790           61.725664
23   32    108  2.389381              2898           64.115044
24   29    108  2.389381              3006           66.504425
25   44    107  2.367257              3113           68.871681
26   48    106  2.345133              3219           71.216814
27   49    105  2.323009              3324           73.539823
28   33    105  2.323009              3429           75.862832
29   47    103  2.278761              3532           78.141593
30   38    103  2.278761              3635           80.420354
31   53    101  2.234513              3736           82.654867
32   37     98  2.168142              3834           84.823009
33   28     94  2.079646              3928           86.902655
34   63     92  2.035398              4020           88.938053
35   36     91  2.013274              4111           90.951327
36   27     79  1.747788              4190           92.699115
37   64     70  1.548673              4260           94.247788
38   65     66  1.460177              4326           95.707965
39   26     65  1.438053              4391           97.146018
40   25     53  1.172566              4444           98.318584
41   24     28  0.619469              4472           98.938053
42   66     24  0.530973              4496           99.469027
43   67     12  0.265487              4508           99.734513
44   23     12  0.265487              4520          100.000000

    Experience  count   percent  cumulative_count  cumulative_percent
0           32    140  3.097345               140            3.097345
1            5    132  2.920354               272            6.017699
2           23    131  2.898230               403            8.915929
3           20    131  2.898230               534           11.814159
4           35    130  2.876106               664           14.690265
5           25    128  2.831858               792           17.522124
6           28    127  2.809735               919           20.331858
7            9    127  2.809735              1046           23.141593
8           18    125  2.765487              1171           25.907080
9           24    123  2.721239              1294           28.628319
10          19    121  2.676991              1415           31.305310
11          14    121  2.676991              1536           33.982301
12          26    120  2.654867              1656           36.637168
13          34    115  2.544248              1771           39.181416
14          27    115  2.544248              1886           41.725664
15          17    114  2.522124              2000           44.247788
16          16    114  2.522124              2114           46.769912
17          15    114  2.522124              2228           49.292035
18          30    113  2.500000              2341           51.792035
19          29    112  2.477876              2453           54.269912
20           3    112  2.477876              2565           56.747788
21          22    111  2.455752              2676           59.203540
22          10    111  2.455752              2787           61.659292
23          33    110  2.433628              2897           64.092920
24           7    109  2.411504              3006           66.504425
25           6    107  2.367257              3113           68.871681
26          13    106  2.345133              3219           71.216814
27           4    104  2.300885              3323           73.517699
28          37    103  2.278761              3426           75.796460
29          11    103  2.278761              3529           78.075221
30          36    102  2.256637              3631           80.331858
31          21    102  2.256637              3733           82.588496
32           8    101  2.234513              3834           84.823009
33          31     92  2.035398              3926           86.858407
34          12     86  1.902655              4012           88.761062
35          38     80  1.769912              4092           90.530973
36           2     76  1.681416              4168           92.212389
37          39     75  1.659292              4243           93.871681
38           1     66  1.460177              4309           95.331858
39           0     59  1.305310              4368           96.637168
40          40     53  1.172566              4421           97.809735
41          41     36  0.796460              4457           98.606195
42          -1     33  0.730088              4490           99.336283
43          -2     15  0.331858              4505           99.668142
44          42      8  0.176991              4513           99.845133
45          -3      4  0.088496              4517           99.933628
46          43      3  0.066372              4520          100.000000

     Income  count   percent  cumulative_count  cumulative_percent
0        44     85  1.880531                85            1.880531
1        38     84  1.858407               169            3.738938
2        81     82  1.814159               251            5.553097
3        41     82  1.814159               333            7.367257
4        39     81  1.792035               414            9.159292
..      ...    ...       ...               ...                 ...
157     218      1  0.022124              4516           99.911504
158     203      1  0.022124              4517           99.933628
159     202      1  0.022124              4518           99.955752
160     189      1  0.022124              4519           99.977876
161     169      1  0.022124              4520          100.000000

[162 rows x 5 columns]

    CCAvg  count   percent  cumulative_count  cumulative_percent
0     0.3    235  5.199115               235            5.199115
1     1.0    229  5.066372               464           10.265487
2     0.2    196  4.336283               660           14.601770
3     2.0    184  4.070796               844           18.672566
4     0.8    182  4.026549              1026           22.699115
..    ...    ...       ...               ...                 ...
75    6.1      8  0.176991              4488           99.292035
76    5.7      8  0.176991              4496           99.469027
77    5.4      8  0.176991              4504           99.646018
78    4.6      8  0.176991              4512           99.823009
79    3.1      8  0.176991              4520          100.000000

[80 rows x 5 columns]

     Mortgage  count    percent  cumulative_count  cumulative_percent
0           0   3150  69.690265              3150           69.690265
1          98     17   0.376106              3167           70.066372
2         103     16   0.353982              3183           70.420354
3          89     16   0.353982              3199           70.774336
4          83     16   0.353982              3215           71.128319
..        ...    ...        ...               ...                 ...
300       206      1   0.022124              4516           99.911504
301       195      1   0.022124              4517           99.933628
302       191      1   0.022124              4518           99.955752
303       183      1   0.022124              4519           99.977876
304       173      1   0.022124              4520          100.000000

[305 rows x 5 columns]

   Personal Loan  count  percent  cumulative_count  cumulative_percent
0              0   4520    100.0              4520               100.0

   Securities Account  count    percent  cumulative_count  cumulative_percent
0                   0   4058  89.778761              4058           89.778761
1                   1    462  10.221239              4520          100.000000

   CD Account  count    percent  cumulative_count  cumulative_percent
0           0   4358  96.415929              4358           96.415929
1           1    162   3.584071              4520          100.000000

   Online  count    percent  cumulative_count  cumulative_percent
0       1   2693  59.579646              2693           59.579646
1       0   1827  40.420354              4520          100.000000

   CreditCard  count    percent  cumulative_count  cumulative_percent
0           0   3193  70.641593              3193           70.641593
1           1   1327  29.358407              4520          100.000000

   Education_1  count    percent  cumulative_count  cumulative_percent
0            0   2517  55.685841              2517           55.685841
1            1   2003  44.314159              4520          100.000000

   Education_2  count    percent  cumulative_count  cumulative_percent
0            0   3299  72.986726              3299           72.986726
1            1   1221  27.013274              4520          100.000000

   Education_3  count    percent  cumulative_count  cumulative_percent
0            0   3224  71.327434              3224           71.327434
1            1   1296  28.672566              4520          100.000000

   Family_1  count    percent  cumulative_count  cumulative_percent
0         0   3155  69.800885              3155           69.800885
1         1   1365  30.199115              4520          100.000000

   Family_2  count    percent  cumulative_count  cumulative_percent
0         0   3330  73.672566              3330           73.672566
1         1   1190  26.327434              4520          100.000000

   Family_3  count    percent  cumulative_count  cumulative_percent
0         0   3643  80.597345              3643           80.597345
1         1    877  19.402655              4520          100.000000

   Family_4  count    percent  cumulative_count  cumulative_percent
0         0   3432  75.929204              3432           75.929204
1         1   1088  24.070796              4520          100.000000

In [32]:
bank1 = bank[bank['Personal Loan']==1]
bank1.describe()

,ID,Age,Experience,Income,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Education_1,Education_2,Education_3,Family_1,Family_2,Family_3,Family_4
count,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.0,480.000000,480.000000,480.00000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000
mean,2390.650000,45.066667,19.843750,144.745833,3.905354,100.845833,1.0,0.125000,0.291667,0.60625,0.297917,0.193750,0.379167,0.427083,0.222917,0.220833,0.277083,0.279167
std,1394.393674,11.590964,11.582443,31.584429,2.097681,160.847862,0.0,0.331064,0.455004,0.48909,0.457820,0.395648,0.485686,0.495171,0.416637,0.415241,0.448025,0.449058
min,10.000000,26.000000,0.000000,60.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1166.500000,35.000000,9.000000,122.000000,2.600000,0.000000,1.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2342.000000,45.000000,20.000000,142.500000,3.800000,0.000000,1.0,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3566.000000,55.000000,30.000000,172.000000,5.347500,192.500000,1.0,0.000000,1.000000,1.00000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,4981.000000,65.000000,41.000000,203.000000,10.000000,617.000000,1.0,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [33]:
for i in bank1.columns:
    print(bank1.stb.freq([i]))
    print()

       ID  count   percent  cumulative_count  cumulative_percent
0    4981      1  0.208333                 1            0.208333
1    4963      1  0.208333                 2            0.416667
2    4942      1  0.208333                 3            0.625000
3    4928      1  0.208333                 4            0.833333
4    4884      1  0.208333                 5            1.041667
..    ...    ...       ...               ...                 ...
475    39      1  0.208333               476           99.166667
476    30      1  0.208333               477           99.375000
477    19      1  0.208333               478           99.583333
478    17      1  0.208333               479           99.791667
479    10      1  0.208333               480          100.000000

[480 rows x 5 columns]

    Age  count   percent  cumulative_count  cumulative_percent
0    34     18  3.750000                18            3.750000
1    30     17  3.541667                35            7.291667
2    63     16  3.333333                51           10.625000
3    36     16  3.333333                67           13.958333
4    35     16  3.333333                83           17.291667
5    54     15  3.125000                98           20.416667
6    52     15  3.125000               113           23.541667
7    43     15  3.125000               128           26.666667
8    33     15  3.125000               143           29.791667
9    29     15  3.125000               158           32.916667
10   65     14  2.916667               172           35.833333
11   56     14  2.916667               186           38.750000
12   44     14  2.916667               200           41.666667
13   42     14  2.916667               214           44.583333
14   50     13  2.708333               227           47.291667
15   46     13  2.708333               240           50.000000
16   45     13  2.708333               253           52.708333
17   26     13  2.708333               266           55.416667
18   61     12  2.500000               278           57.916667
19   57     12  2.500000               290           60.416667
20   48     12  2.500000               302           62.916667
21   38     12  2.500000               314           65.416667
22   32     12  2.500000               326           67.916667
23   27     12  2.500000               338           70.416667
24   53     11  2.291667               349           72.708333
25   60     10  2.083333               359           74.791667
26   58     10  2.083333               369           76.875000
27   51     10  2.083333               379           78.958333
28   49     10  2.083333               389           81.041667
29   47     10  2.083333               399           83.125000
30   62      9  1.875000               408           85.000000
31   59      9  1.875000               417           86.875000
32   55      9  1.875000               426           88.750000
33   28      9  1.875000               435           90.625000
34   64      8  1.666667               443           92.291667
35   41      8  1.666667               451           93.958333
36   40      8  1.666667               459           95.625000
37   37      8  1.666667               467           97.291667
38   31      7  1.458333               474           98.750000
39   39      6  1.250000               480          100.000000

    Experience  count   percent  cumulative_count  cumulative_percent
0            9     20  4.166667                20            4.166667
1            8     18  3.750000                38            7.916667
2           20     17  3.541667                55           11.458333
3            3     17  3.541667                72           15.000000
4           12     16  3.333333                88           18.333333
5           32     14  2.916667               102           21.250000
6           26     14  2.916667               116           24.166667
7           25     14  2.916667               130           27.083333
8           19     14  2.916667               144           30.000000
9            5     14  2.916667               158           32.916667
10          37     13  2.708333               171           35.625000
11          35     13  2.708333               184           38.333333
12          30     13  2.708333               197           41.041667
13          23     13  2.708333               210           43.750000
14          22     13  2.708333               223           46.458333
15          16     13  2.708333               236           49.166667
16          11     13  2.708333               249           51.875000
17          36     12  2.500000               261           54.375000
18          31     12  2.500000               273           56.875000
19          29     12  2.500000               285           59.375000
20          18     12  2.500000               297           61.875000
21           7     12  2.500000               309           64.375000
22           6     12  2.500000               321           66.875000
23          28     11  2.291667               332           69.166667
24          21     11  2.291667               343           71.458333
25          17     11  2.291667               354           73.750000
26          13     11  2.291667               365           76.041667
27          39     10  2.083333               375           78.125000
28          34     10  2.083333               385           80.208333
29          27     10  2.083333               395           82.291667
30           4      9  1.875000               404           84.166667
31           2      9  1.875000               413           86.041667
32          38      8  1.666667               421           87.708333
33          24      8  1.666667               429           89.375000
34           1      8  1.666667               437           91.041667
35          41      7  1.458333               444           92.500000
36          33      7  1.458333               451           93.958333
37          10      7  1.458333               458           95.416667
38           0      7  1.458333               465           96.875000
39          14      6  1.250000               471           98.125000
40          15      5  1.041667               476           99.166667
41          40      4  0.833333               480          100.000000

     Income  count   percent  cumulative_count  cumulative_percent
0       182     11  2.291667                11            2.291667
1       130     11  2.291667                22            4.583333
2       158     10  2.083333                32            6.666667
3       135     10  2.083333                42            8.750000
4       184      9  1.875000                51           10.625000
..      ...    ...       ...               ...                 ...
97       71      1  0.208333               476           99.166667
98       69      1  0.208333               477           99.375000
99       65      1  0.208333               478           99.583333
100      64      1  0.208333               479           99.791667
101      60      1  0.208333               480          100.000000

[102 rows x 5 columns]

    CCAvg  count   percent  cumulative_count  cumulative_percent
0    3.00     19  3.958333                19            3.958333
1    4.10     13  2.708333                32            6.666667
2    3.40     13  2.708333                45            9.375000
3    3.10     12  2.500000                57           11.875000
4    4.20     11  2.291667                68           14.166667
..    ...    ...       ...               ...                 ...
90   3.67      1  0.208333               476           99.166667
91   3.33      1  0.208333               477           99.375000
92   3.25      1  0.208333               478           99.583333
93   2.75      1  0.208333               479           99.791667
94   0.00      1  0.208333               480          100.000000

[95 rows x 5 columns]

     Mortgage  count    percent  cumulative_count  cumulative_percent
0           0    312  65.000000               312           65.000000
1         301      5   1.041667               317           66.041667
2         342      3   0.625000               320           66.666667
3         282      3   0.625000               323           67.291667
4         428      2   0.416667               325           67.708333
..        ...    ...        ...               ...                 ...
136        84      1   0.208333               476           99.166667
137        82      1   0.208333               477           99.375000
138        81      1   0.208333               478           99.583333
139        76      1   0.208333               479           99.791667
140        75      1   0.208333               480          100.000000

[141 rows x 5 columns]

   Personal Loan  count  percent  cumulative_count  cumulative_percent
0              1    480    100.0               480               100.0

   Securities Account  count  percent  cumulative_count  cumulative_percent
0                   0    420     87.5               420                87.5
1                   1     60     12.5               480               100.0

   CD Account  count    percent  cumulative_count  cumulative_percent
0           0    340  70.833333               340           70.833333
1           1    140  29.166667               480          100.000000

   Online  count  percent  cumulative_count  cumulative_percent
0       1    291   60.625               291              60.625
1       0    189   39.375               480             100.000

   CreditCard  count    percent  cumulative_count  cumulative_percent
0           0    337  70.208333               337           70.208333
1           1    143  29.791667               480          100.000000

   Education_1  count  percent  cumulative_count  cumulative_percent
0            0    387   80.625               387              80.625
1            1     93   19.375               480             100.000

   Education_2  count    percent  cumulative_count  cumulative_percent
0            0    298  62.083333               298           62.083333
1            1    182  37.916667               480          100.000000

   Education_3  count    percent  cumulative_count  cumulative_percent
0            0    275  57.291667               275           57.291667
1            1    205  42.708333               480          100.000000

   Family_1  count    percent  cumulative_count  cumulative_percent
0         0    373  77.708333               373           77.708333
1         1    107  22.291667               480          100.000000

   Family_2  count    percent  cumulative_count  cumulative_percent
0         0    374  77.916667               374           77.916667
1         1    106  22.083333               480          100.000000

   Family_3  count    percent  cumulative_count  cumulative_percent
0         0    347  72.291667               347           72.291667
1         1    133  27.708333               480          100.000000

   Family_4  count    percent  cumulative_count  cumulative_percent
0         0    346  72.083333               346           72.083333
1         1    134  27.916667               480          100.000000

In [34]:
classificationSummary(valid_df['Personal Loan'], 
                     model.predict(valid_df.drop(columns=['Personal Loan'])),
                     class_names = model.classes_)

Confusion Matrix (Accuracy 0.9440)

       Prediction
Actual    0    1
     0 1776   31
     1   81  112

In [35]:
81/(81+112)

0.41968911917098445

In [36]:
31/(1776+31)

0.01715550636413946

In [38]:
predict = valid_df.copy()
predict.index = predict.index+1
predict['Dec. Function'] = model.decision_function(valid_df.drop(columns=['Personal Loan']))
predict['Prediction'] = model.predict(valid_df.drop(columns=['Personal Loan']))
predict['p(Accept)'] = model.predict_proba(valid_df.drop(columns=['Personal Loan']))[:,1]

predict

,ID,Age,Experience,Income,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,...,Education_1,Education_2,Education_3,Family_1,Family_2,Family_3,Family_4,Dec. Function,Prediction,p(Accept)
2765,2765,31,5,84,2.9,105,0,0,0,0,...,0,0,1,1,0,0,0,-4.513943,0,0.010836
4768,4768,35,9,45,0.9,101,0,1,0,0,...,1,0,0,0,0,1,0,-9.497937,0,0.000075
3815,3815,34,9,35,1.3,0,0,0,0,0,...,1,0,0,0,0,1,0,-8.552264,0,0.000193
3500,3500,49,23,114,0.3,286,0,0,0,1,...,1,0,0,1,0,0,0,-6.268261,0,0.001892
2736,2736,36,12,70,2.6,165,0,0,0,1,...,0,1,0,0,0,1,0,-3.379569,0,0.032940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4373,4373,34,10,41,2.4,0,0,0,0,0,...,0,1,0,1,0,0,0,-6.464771,0,0.001555
3402,3402,39,15,28,1.4,118,0,0,0,1,...,0,0,1,1,0,0,0,-8.393134,0,0.000226
1240,1240,51,26,12,0.7,109,0,0,0,1,...,0,0,1,0,1,0,0,-9.528755,0,0.000073
438,438,36,9,31,1.0,0,0,1,0,1,...,0,1,0,0,0,0,1,-8.236762,0,0.000265
416,416,35,8,38,1.0,124,0,0,0,1,...,0,1,0,0,0,0,1,-6.348590,0,0.001746

In [39]:
predict[predict['Personal Loan'] != predict['Prediction']]

,ID,Age,Experience,Income,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,...,Education_1,Education_2,Education_3,Family_1,Family_2,Family_3,Family_4,Dec. Function,Prediction,p(Accept)
933,933,51,27,112,1.80,0,0,1,1,1,...,0,1,0,0,0,1,0,2.881901,1,0.946944
3348,3348,65,41,78,2.00,0,0,0,1,1,...,0,0,1,0,0,1,0,2.482948,1,0.922938
4378,4378,33,8,145,2.70,0,1,0,0,1,...,0,0,1,1,0,0,0,-1.008766,0,0.267221
3272,3272,52,27,93,4.10,0,1,0,0,0,...,0,1,0,0,0,0,1,-2.318216,0,0.089625
350,350,26,2,60,3.00,132,1,0,0,0,...,1,0,0,0,1,0,0,-7.554280,0,0.000524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911,2911,46,22,102,4.50,0,1,0,0,1,...,0,0,1,0,0,1,0,-0.924491,0,0.284044
2997,2997,42,18,103,3.33,0,1,1,1,1,...,1,0,0,1,0,0,0,-1.556361,0,0.174169
703,703,35,9,109,4.00,0,1,0,0,0,...,1,0,0,0,0,1,0,-3.432572,0,0.031293
2329,2329,27,2,130,4.40,192,1,0,0,1,...,1,0,0,0,0,1,0,-2.277193,0,0.093030
2685,2685,30,5,98,1.80,129,0,1,1,1,...,0,0,1,0,0,0,1,2.040874,1,0.885022

In [42]:
from sklearn.linear_model import LogisticRegression

predictors = bank.drop(columns = ['Personal Loan']).columns
outcome = 'Personal Loan'

x = valid_df[predictors]
y = valid_df[outcome]

logit_reg = LogisticRegression(penalty = "12", C=1e42, solver = 'liblinear')
logit_reg.fit(x,y)

print('Intercept', logit_reg.intercept_[0])
print(pd.DataFrame({'coefficinet' : logit_reg.coef_[0]}, index=x.columns).transpose())
print('AIC', AIC_score(y, logit_reg.predict(x), df=len(x.columns) + 1))

ValueError: Logistic Regression supports only penalties in ['l1', 'l2', 'elasticnet', 'none'], got 12.

asdf

In [ ]:
# 12.2